<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>880</integer>
    <key>capHeight</key>
    <integer>765</integer>
    <key>descender</key>
    <integer>-120</integer>
    <key>copyright</key>
    <string>Font Copyright Copyright 2019-2023 Morisawa Inc. All rights reserved.</string>
    <key>familyName</key>
    <string>RemmenGSUBDemo Regular</string>
    <key>postscriptFontName</key>
    <string>RemmenGSUBDemo-Regular</string>
    <key>postscriptFullName</key>
    <string>RemmenGSUBDemo Regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>541</integer>
  </dict>
</plist>
