<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FDArraySelect.0.RemmenGSUBDemo-Regular-Dingbats</key>
    <array>
        <string>cid00002</string>
        <string>cid00003</string>
        <string>cid00004</string>
        <string>cid00092</string>
        <string>cid00093</string>
        <string>cid00094</string>
    </array>
    <key>FDArraySelect.1.RemmenGSUBDemo-Regular-Generic</key>
    <array>
        <string>cid00000</string>
    </array>
    <key>FDArraySelect.2.RemmenGSUBDemo-Regular-Kana</key>
    <array>
        <string>cid00005</string>
        <string>cid00006</string>
        <string>cid00007</string>
        <string>cid00008</string>
        <string>cid00009</string>
        <string>cid00010</string>
        <string>cid00011</string>
        <string>cid00012</string>
        <string>cid00013</string>
        <string>cid00014</string>
        <string>cid00015</string>
        <string>cid00016</string>
        <string>cid00017</string>
        <string>cid00018</string>
        <string>cid00019</string>
        <string>cid00020</string>
        <string>cid00021</string>
        <string>cid00022</string>
        <string>cid00023</string>
        <string>cid00024</string>
        <string>cid00025</string>
        <string>cid00026</string>
        <string>cid00027</string>
        <string>cid00028</string>
        <string>cid00029</string>
        <string>cid00030</string>
        <string>cid00031</string>
        <string>cid00032</string>
        <string>cid00033</string>
        <string>cid00034</string>
        <string>cid00035</string>
        <string>cid00036</string>
        <string>cid00037</string>
        <string>cid00038</string>
        <string>cid00039</string>
        <string>cid00040</string>
        <string>cid00041</string>
        <string>cid00042</string>
        <string>cid00043</string>
        <string>cid00044</string>
        <string>cid00045</string>
        <string>cid00046</string>
        <string>cid00047</string>
        <string>cid00048</string>
        <string>cid00049</string>
        <string>cid00050</string>
        <string>cid00051</string>
        <string>cid00052</string>
        <string>cid00053</string>
        <string>cid00054</string>
        <string>cid00055</string>
        <string>cid00056</string>
        <string>cid00057</string>
        <string>cid00058</string>
        <string>cid00059</string>
        <string>cid00060</string>
        <string>cid00061</string>
        <string>cid00062</string>
        <string>cid00063</string>
        <string>cid00064</string>
        <string>cid00065</string>
        <string>cid00066</string>
        <string>cid00067</string>
        <string>cid00068</string>
        <string>cid00069</string>
        <string>cid00070</string>
        <string>cid00071</string>
        <string>cid00072</string>
        <string>cid00073</string>
        <string>cid00074</string>
        <string>cid00075</string>
        <string>cid00076</string>
        <string>cid00077</string>
        <string>cid00078</string>
        <string>cid00079</string>
        <string>cid00080</string>
        <string>cid00081</string>
        <string>cid00082</string>
        <string>cid00083</string>
        <string>cid00084</string>
        <string>cid00085</string>
        <string>cid00086</string>
        <string>cid00087</string>
        <string>cid00088</string>
        <string>cid00089</string>
        <string>cid00090</string>
        <string>cid00091</string>
        <string>cid00095</string>
        <string>cid00096</string>
        <string>cid00097</string>
        <string>cid00098</string>
        <string>cid00099</string>
        <string>cid00100</string>
        <string>cid00101</string>
        <string>cid00102</string>
        <string>cid00103</string>
        <string>cid00104</string>
        <string>cid00105</string>
        <string>cid00106</string>
        <string>cid00107</string>
        <string>cid00108</string>
        <string>cid00109</string>
        <string>cid00110</string>
        <string>cid00111</string>
        <string>cid00112</string>
        <string>cid00113</string>
        <string>cid00114</string>
        <string>cid00115</string>
        <string>cid00116</string>
        <string>cid00117</string>
        <string>cid00118</string>
        <string>cid00119</string>
        <string>cid00120</string>
        <string>cid00121</string>
        <string>cid00122</string>
        <string>cid00123</string>
        <string>cid00124</string>
        <string>cid00125</string>
        <string>cid00126</string>
        <string>cid00127</string>
        <string>cid00128</string>
        <string>cid00129</string>
        <string>cid00130</string>
        <string>cid00131</string>
        <string>cid00132</string>
        <string>cid00133</string>
        <string>cid00134</string>
        <string>cid00135</string>
        <string>cid00136</string>
        <string>cid00137</string>
        <string>cid00138</string>
        <string>cid00139</string>
        <string>cid00140</string>
        <string>cid00141</string>
        <string>cid00142</string>
        <string>cid00143</string>
        <string>cid00144</string>
        <string>cid00145</string>
        <string>cid00146</string>
        <string>cid00147</string>
        <string>cid00148</string>
        <string>cid00149</string>
        <string>cid00150</string>
        <string>cid00151</string>
        <string>cid00152</string>
        <string>cid00153</string>
        <string>cid00154</string>
        <string>cid00155</string>
        <string>cid00156</string>
        <string>cid00157</string>
        <string>cid00158</string>
        <string>cid00159</string>
        <string>cid00160</string>
        <string>cid00161</string>
        <string>cid00162</string>
        <string>cid00163</string>
        <string>cid00164</string>
        <string>cid00165</string>
        <string>cid00166</string>
        <string>cid00167</string>
        <string>cid00168</string>
        <string>cid00169</string>
        <string>cid00170</string>
        <string>cid00171</string>
        <string>cid00172</string>
        <string>cid00173</string>
        <string>cid00174</string>
        <string>cid00175</string>
        <string>cid00176</string>
        <string>cid00177</string>
        <string>cid00178</string>
        <string>cid00179</string>
        <string>cid00180</string>
        <string>cid00182</string>
        <string>cid00183</string>
    </array>
    <key>FDArraySelect.3.RemmenGSUBDemo-Regular-Proportional</key>
    <array>
        <string>cid00001</string>
    </array>
    <key>FDArraySelect.4.RemmenGSUBDemo-Regular-ProportionalRot</key>
    <array>
        <string>cid00181</string>
    </array>
</dict>
</plist>
