<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.adobe.type.CIDFontName</key>
    <string>RemmenGSUBDemo-Regular</string>
    <key>com.adobe.type.FSType</key>
    <integer>4</integer>
    <key>com.adobe.type.ROS</key>
    <string>Adobe-Identity-0</string>
    <key>com.adobe.type.postscriptCIDMap</key>
    <dict>
      <key>cid00000</key>
      <integer>0</integer>
      <key>cid00001</key>
      <integer>1</integer>
      <key>cid00002</key>
      <integer>2</integer>
      <key>cid00003</key>
      <integer>3</integer>
      <key>cid00004</key>
      <integer>4</integer>
      <key>cid00005</key>
      <integer>5</integer>
      <key>cid00006</key>
      <integer>6</integer>
      <key>cid00007</key>
      <integer>7</integer>
      <key>cid00008</key>
      <integer>8</integer>
      <key>cid00009</key>
      <integer>9</integer>
      <key>cid00010</key>
      <integer>10</integer>
      <key>cid00011</key>
      <integer>11</integer>
      <key>cid00012</key>
      <integer>12</integer>
      <key>cid00013</key>
      <integer>13</integer>
      <key>cid00014</key>
      <integer>14</integer>
      <key>cid00015</key>
      <integer>15</integer>
      <key>cid00016</key>
      <integer>16</integer>
      <key>cid00017</key>
      <integer>17</integer>
      <key>cid00018</key>
      <integer>18</integer>
      <key>cid00019</key>
      <integer>19</integer>
      <key>cid00020</key>
      <integer>20</integer>
      <key>cid00021</key>
      <integer>21</integer>
      <key>cid00022</key>
      <integer>22</integer>
      <key>cid00023</key>
      <integer>23</integer>
      <key>cid00024</key>
      <integer>24</integer>
      <key>cid00025</key>
      <integer>25</integer>
      <key>cid00026</key>
      <integer>26</integer>
      <key>cid00027</key>
      <integer>27</integer>
      <key>cid00028</key>
      <integer>28</integer>
      <key>cid00029</key>
      <integer>29</integer>
      <key>cid00030</key>
      <integer>30</integer>
      <key>cid00031</key>
      <integer>31</integer>
      <key>cid00032</key>
      <integer>32</integer>
      <key>cid00033</key>
      <integer>33</integer>
      <key>cid00034</key>
      <integer>34</integer>
      <key>cid00035</key>
      <integer>35</integer>
      <key>cid00036</key>
      <integer>36</integer>
      <key>cid00037</key>
      <integer>37</integer>
      <key>cid00038</key>
      <integer>38</integer>
      <key>cid00039</key>
      <integer>39</integer>
      <key>cid00040</key>
      <integer>40</integer>
      <key>cid00041</key>
      <integer>41</integer>
      <key>cid00042</key>
      <integer>42</integer>
      <key>cid00043</key>
      <integer>43</integer>
      <key>cid00044</key>
      <integer>44</integer>
      <key>cid00045</key>
      <integer>45</integer>
      <key>cid00046</key>
      <integer>46</integer>
      <key>cid00047</key>
      <integer>47</integer>
      <key>cid00048</key>
      <integer>48</integer>
      <key>cid00049</key>
      <integer>49</integer>
      <key>cid00050</key>
      <integer>50</integer>
      <key>cid00051</key>
      <integer>51</integer>
      <key>cid00052</key>
      <integer>52</integer>
      <key>cid00053</key>
      <integer>53</integer>
      <key>cid00054</key>
      <integer>54</integer>
      <key>cid00055</key>
      <integer>55</integer>
      <key>cid00056</key>
      <integer>56</integer>
      <key>cid00057</key>
      <integer>57</integer>
      <key>cid00058</key>
      <integer>58</integer>
      <key>cid00059</key>
      <integer>59</integer>
      <key>cid00060</key>
      <integer>60</integer>
      <key>cid00061</key>
      <integer>61</integer>
      <key>cid00062</key>
      <integer>62</integer>
      <key>cid00063</key>
      <integer>63</integer>
      <key>cid00064</key>
      <integer>64</integer>
      <key>cid00065</key>
      <integer>65</integer>
      <key>cid00066</key>
      <integer>66</integer>
      <key>cid00067</key>
      <integer>67</integer>
      <key>cid00068</key>
      <integer>68</integer>
      <key>cid00069</key>
      <integer>69</integer>
      <key>cid00070</key>
      <integer>70</integer>
      <key>cid00071</key>
      <integer>71</integer>
      <key>cid00072</key>
      <integer>72</integer>
      <key>cid00073</key>
      <integer>73</integer>
      <key>cid00074</key>
      <integer>74</integer>
      <key>cid00075</key>
      <integer>75</integer>
      <key>cid00076</key>
      <integer>76</integer>
      <key>cid00077</key>
      <integer>77</integer>
      <key>cid00078</key>
      <integer>78</integer>
      <key>cid00079</key>
      <integer>79</integer>
      <key>cid00080</key>
      <integer>80</integer>
      <key>cid00081</key>
      <integer>81</integer>
      <key>cid00082</key>
      <integer>82</integer>
      <key>cid00083</key>
      <integer>83</integer>
      <key>cid00084</key>
      <integer>84</integer>
      <key>cid00085</key>
      <integer>85</integer>
      <key>cid00086</key>
      <integer>86</integer>
      <key>cid00087</key>
      <integer>87</integer>
      <key>cid00088</key>
      <integer>88</integer>
      <key>cid00089</key>
      <integer>89</integer>
      <key>cid00090</key>
      <integer>90</integer>
      <key>cid00091</key>
      <integer>91</integer>
      <key>cid00092</key>
      <integer>92</integer>
      <key>cid00093</key>
      <integer>93</integer>
      <key>cid00094</key>
      <integer>94</integer>
      <key>cid00095</key>
      <integer>95</integer>
      <key>cid00096</key>
      <integer>96</integer>
      <key>cid00097</key>
      <integer>97</integer>
      <key>cid00098</key>
      <integer>98</integer>
      <key>cid00099</key>
      <integer>99</integer>
      <key>cid00100</key>
      <integer>100</integer>
      <key>cid00101</key>
      <integer>101</integer>
      <key>cid00102</key>
      <integer>102</integer>
      <key>cid00103</key>
      <integer>103</integer>
      <key>cid00104</key>
      <integer>104</integer>
      <key>cid00105</key>
      <integer>105</integer>
      <key>cid00106</key>
      <integer>106</integer>
      <key>cid00107</key>
      <integer>107</integer>
      <key>cid00108</key>
      <integer>108</integer>
      <key>cid00109</key>
      <integer>109</integer>
      <key>cid00110</key>
      <integer>110</integer>
      <key>cid00111</key>
      <integer>111</integer>
      <key>cid00112</key>
      <integer>112</integer>
      <key>cid00113</key>
      <integer>113</integer>
      <key>cid00114</key>
      <integer>114</integer>
      <key>cid00115</key>
      <integer>115</integer>
      <key>cid00116</key>
      <integer>116</integer>
      <key>cid00117</key>
      <integer>117</integer>
      <key>cid00118</key>
      <integer>118</integer>
      <key>cid00119</key>
      <integer>119</integer>
      <key>cid00120</key>
      <integer>120</integer>
      <key>cid00121</key>
      <integer>121</integer>
      <key>cid00122</key>
      <integer>122</integer>
      <key>cid00123</key>
      <integer>123</integer>
      <key>cid00124</key>
      <integer>124</integer>
      <key>cid00125</key>
      <integer>125</integer>
      <key>cid00126</key>
      <integer>126</integer>
      <key>cid00127</key>
      <integer>127</integer>
      <key>cid00128</key>
      <integer>128</integer>
      <key>cid00129</key>
      <integer>129</integer>
      <key>cid00130</key>
      <integer>130</integer>
      <key>cid00131</key>
      <integer>131</integer>
      <key>cid00132</key>
      <integer>132</integer>
      <key>cid00133</key>
      <integer>133</integer>
      <key>cid00134</key>
      <integer>134</integer>
      <key>cid00135</key>
      <integer>135</integer>
      <key>cid00136</key>
      <integer>136</integer>
      <key>cid00137</key>
      <integer>137</integer>
      <key>cid00138</key>
      <integer>138</integer>
      <key>cid00139</key>
      <integer>139</integer>
      <key>cid00140</key>
      <integer>140</integer>
      <key>cid00141</key>
      <integer>141</integer>
      <key>cid00142</key>
      <integer>142</integer>
      <key>cid00143</key>
      <integer>143</integer>
      <key>cid00144</key>
      <integer>144</integer>
      <key>cid00145</key>
      <integer>145</integer>
      <key>cid00146</key>
      <integer>146</integer>
      <key>cid00147</key>
      <integer>147</integer>
      <key>cid00148</key>
      <integer>148</integer>
      <key>cid00149</key>
      <integer>149</integer>
      <key>cid00150</key>
      <integer>150</integer>
      <key>cid00151</key>
      <integer>151</integer>
      <key>cid00152</key>
      <integer>152</integer>
      <key>cid00153</key>
      <integer>153</integer>
      <key>cid00154</key>
      <integer>154</integer>
      <key>cid00155</key>
      <integer>155</integer>
      <key>cid00156</key>
      <integer>156</integer>
      <key>cid00157</key>
      <integer>157</integer>
      <key>cid00158</key>
      <integer>158</integer>
      <key>cid00159</key>
      <integer>159</integer>
      <key>cid00160</key>
      <integer>160</integer>
      <key>cid00161</key>
      <integer>161</integer>
      <key>cid00162</key>
      <integer>162</integer>
      <key>cid00163</key>
      <integer>163</integer>
      <key>cid00164</key>
      <integer>164</integer>
      <key>cid00165</key>
      <integer>165</integer>
      <key>cid00166</key>
      <integer>166</integer>
      <key>cid00167</key>
      <integer>167</integer>
      <key>cid00168</key>
      <integer>168</integer>
      <key>cid00169</key>
      <integer>169</integer>
      <key>cid00170</key>
      <integer>170</integer>
      <key>cid00171</key>
      <integer>171</integer>
      <key>cid00172</key>
      <integer>172</integer>
      <key>cid00173</key>
      <integer>173</integer>
      <key>cid00174</key>
      <integer>174</integer>
      <key>cid00175</key>
      <integer>175</integer>
      <key>cid00176</key>
      <integer>176</integer>
      <key>cid00177</key>
      <integer>177</integer>
      <key>cid00178</key>
      <integer>178</integer>
      <key>cid00179</key>
      <integer>179</integer>
      <key>cid00180</key>
      <integer>180</integer>
      <key>cid00181</key>
      <integer>181</integer>
      <key>cid00182</key>
      <integer>182</integer>
      <key>cid00183</key>
      <integer>183</integer>
    </dict>
    <key>com.adobe.type.postscriptFDArray</key>
    <array>
    <dict>
    <key>FontName</key>
    <string>RemmenGSUBDemo-Regular-Dingbats</string>
    <key>PaintType</key>
    <integer>0</integer>
    </dict>
    <dict>
    <key>FontName</key>
    <string>RemmenGSUBDemo-Regular-Generic</string>
    <key>PaintType</key>
    <integer>0</integer>
    </dict>
    <dict>
    <key>FontName</key>
    <string>RemmenGSUBDemo-Regular-Kana</string>
    <key>PaintType</key>
    <integer>0</integer>
    </dict>
    <dict>
    <key>FontName</key>
    <string>RemmenGSUBDemo-Regular-Proportional</string>
    <key>PaintType</key>
    <integer>0</integer>
    </dict>
    <dict>
    <key>FontName</key>
    <string>RemmenGSUBDemo-Regular-ProportionalRot</string>
    <key>PaintType</key>
    <integer>0</integer>
    </dict>
	  </array>
    <key>public.glyphOrder</key>
    <array>
      <string>cid00000</string>
      <string>cid00001</string>
      <string>cid00002</string>
      <string>cid00003</string>
      <string>cid00004</string>
      <string>cid00005</string>
      <string>cid00006</string>
      <string>cid00007</string>
      <string>cid00008</string>
      <string>cid00009</string>
      <string>cid00010</string>
      <string>cid00011</string>
      <string>cid00012</string>
      <string>cid00013</string>
      <string>cid00014</string>
      <string>cid00015</string>
      <string>cid00016</string>
      <string>cid00017</string>
      <string>cid00018</string>
      <string>cid00019</string>
      <string>cid00020</string>
      <string>cid00021</string>
      <string>cid00022</string>
      <string>cid00023</string>
      <string>cid00024</string>
      <string>cid00025</string>
      <string>cid00026</string>
      <string>cid00027</string>
      <string>cid00028</string>
      <string>cid00029</string>
      <string>cid00030</string>
      <string>cid00031</string>
      <string>cid00032</string>
      <string>cid00033</string>
      <string>cid00034</string>
      <string>cid00035</string>
      <string>cid00036</string>
      <string>cid00037</string>
      <string>cid00038</string>
      <string>cid00039</string>
      <string>cid00040</string>
      <string>cid00041</string>
      <string>cid00042</string>
      <string>cid00043</string>
      <string>cid00044</string>
      <string>cid00045</string>
      <string>cid00046</string>
      <string>cid00047</string>
      <string>cid00048</string>
      <string>cid00049</string>
      <string>cid00050</string>
      <string>cid00051</string>
      <string>cid00052</string>
      <string>cid00053</string>
      <string>cid00054</string>
      <string>cid00055</string>
      <string>cid00056</string>
      <string>cid00057</string>
      <string>cid00058</string>
      <string>cid00059</string>
      <string>cid00060</string>
      <string>cid00061</string>
      <string>cid00062</string>
      <string>cid00063</string>
      <string>cid00064</string>
      <string>cid00065</string>
      <string>cid00066</string>
      <string>cid00067</string>
      <string>cid00068</string>
      <string>cid00069</string>
      <string>cid00070</string>
      <string>cid00071</string>
      <string>cid00072</string>
      <string>cid00073</string>
      <string>cid00074</string>
      <string>cid00075</string>
      <string>cid00076</string>
      <string>cid00077</string>
      <string>cid00078</string>
      <string>cid00079</string>
      <string>cid00080</string>
      <string>cid00081</string>
      <string>cid00082</string>
      <string>cid00083</string>
      <string>cid00084</string>
      <string>cid00085</string>
      <string>cid00086</string>
      <string>cid00087</string>
      <string>cid00088</string>
      <string>cid00089</string>
      <string>cid00090</string>
      <string>cid00091</string>
      <string>cid00092</string>
      <string>cid00093</string>
      <string>cid00094</string>
      <string>cid00095</string>
      <string>cid00096</string>
      <string>cid00097</string>
      <string>cid00098</string>
      <string>cid00099</string>
      <string>cid00100</string>
      <string>cid00101</string>
      <string>cid00102</string>
      <string>cid00103</string>
      <string>cid00104</string>
      <string>cid00105</string>
      <string>cid00106</string>
      <string>cid00107</string>
      <string>cid00108</string>
      <string>cid00109</string>
      <string>cid00110</string>
      <string>cid00111</string>
      <string>cid00112</string>
      <string>cid00113</string>
      <string>cid00114</string>
      <string>cid00115</string>
      <string>cid00116</string>
      <string>cid00117</string>
      <string>cid00118</string>
      <string>cid00119</string>
      <string>cid00120</string>
      <string>cid00121</string>
      <string>cid00122</string>
      <string>cid00123</string>
      <string>cid00124</string>
      <string>cid00125</string>
      <string>cid00126</string>
      <string>cid00127</string>
      <string>cid00128</string>
      <string>cid00129</string>
      <string>cid00130</string>
      <string>cid00131</string>
      <string>cid00132</string>
      <string>cid00133</string>
      <string>cid00134</string>
      <string>cid00135</string>
      <string>cid00136</string>
      <string>cid00137</string>
      <string>cid00138</string>
      <string>cid00139</string>
      <string>cid00140</string>
      <string>cid00141</string>
      <string>cid00142</string>
      <string>cid00143</string>
      <string>cid00144</string>
      <string>cid00145</string>
      <string>cid00146</string>
      <string>cid00147</string>
      <string>cid00148</string>
      <string>cid00149</string>
      <string>cid00150</string>
      <string>cid00151</string>
      <string>cid00152</string>
      <string>cid00153</string>
      <string>cid00154</string>
      <string>cid00155</string>
      <string>cid00156</string>
      <string>cid00157</string>
      <string>cid00158</string>
      <string>cid00159</string>
      <string>cid00160</string>
      <string>cid00161</string>
      <string>cid00162</string>
      <string>cid00163</string>
      <string>cid00164</string>
      <string>cid00165</string>
      <string>cid00166</string>
      <string>cid00167</string>
      <string>cid00168</string>
      <string>cid00169</string>
      <string>cid00170</string>
      <string>cid00171</string>
      <string>cid00172</string>
      <string>cid00173</string>
      <string>cid00174</string>
      <string>cid00175</string>
      <string>cid00176</string>
      <string>cid00177</string>
      <string>cid00178</string>
      <string>cid00179</string>
      <string>cid00180</string>
      <string>cid00181</string>
      <string>cid00182</string>
      <string>cid00183</string>
    </array>
  </dict>
</plist>
